* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(79, 79, 79);
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: red;
}

#library-container {
    height: 70vh;
    min-width: 200px;
    border: 2px solid black;
}

.book {
    padding: 10px;
    border: 2px solid red;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.create-form-element {
    display: flex;
    flex-direction: column;
}